* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
  color: white;
}
.container {
  max-width: 120vh;
  margin: 0 auto;
  padding: 0 70px
}
/* Alinhamento de elementos */
h2,
h3, .calc{
  justify-self: center;
}
.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.flex{
    display: flex;
    padding: 30px;
    justify-content: center;
}
.elementoFlex{
    padding: 20px;
    
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 80px;
  font-size: 18px;
}


/* Estilização de elementos */
h2 {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  background-color: #6A6A6A;
  color: #FFBF00;
  border-radius: 20px;
  filter: drop-shadow( 0px 4px 3px #FFBF00);
  margin: 20px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  color: #FFBF00;
}
.calc {
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
}
p {
  font-size: 1.2em;
  padding: 10px;
}
input {
  padding: 10px;
  margin: 10px;
  width: 100%;
  font-size: 1rem;
  border-radius: 30px;
}
button {
  background-color: rgb(240, 236, 43);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(205, 218, 35);
}
button:active {
  background-color: rgb(67, 238, 0);
}

.resultado{
  background-color: azure;
  margin: 0 120px;
  border-radius: 30px;
}