@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kdam+Thmor+Pro&family=Marcellus&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-color: #000000;
}

@media (min-width: 900px) {
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  input,
  .slide {
    display: none;
  }

  .container {
    font-size: 25px
  }
}

@media (max-width: 900px) {
  header nav {
    display: none;
  }

  /* Sidebar start */
  .slide {
    margin: -18px 0px 0px 0px;
    height: 100vh;
    width: 190px;
    position: fixed;
    background-color: #ffbf00;
    transition: 0.3s ease;
    transform: translateX(-190px);
  }

  label h2 {
    color: rgb(254, 254, 254);
    font-weight: 800;
    text-align: right;
    padding: 25px 0px;
    padding-right: 30px;
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  label div img {
    width: 100%;
  }

  label div ul li {
    list-style: none;
  }

  label div ul li a {
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 5px 20px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.25s ease-out;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }

  label div ul li:hover a {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }

  label input {
    display: none;
    visibility: hidden;
    appearance: none;
  }

  .toggle {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 25px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #000000;
    border-radius: 50px;
    transition: 0.3s ease;
  }

  .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input:checked~.toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }

  input:checked~.toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }

  input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translate(30px);
  }

  input:checked~.slide {
    transform: translateX(0);
    box-shadow: 2px 0 10px rgb(255, 255, 255);
  }

  .container {
    width: 88%;
    height: 10px;
    font-size: 24px
  }
}

/* Sidebar end --*/

/* --Main content start */

/* Titles */

.tituloCinza {
  background-color: #6a6a6a;
  max-width: 250px;
  margin: 0 auto;
  /* Centraliza o bloco horizontalmente */
  margin-top: 20px;
  text-align: center;
  /* Centraliza o texto dentro do bloco */
  border-radius: 10px;
  box-shadow: 5px 5px 6px #ffbf00;
}

.saudacao {
  text-align: center;
  font-size: 2.5rem;
  color: #ffbf00;
  font-weight: 400;
  font-family: Kdam Thmor Pro;
  padding: 20px;
  clear: both;
}

main h3 {
  text-align: center;
  font-size: 2rem;
  color: #ffbf00;
  font-weight: 400;
  font-family: Kdam Thmor Pro;
  padding: 20px;
}

.mudarPlano {
  text-align: center;
  font-size: 1.5rem;
  padding: 25px;
}

.linkPlano {
  color: #ffbf00;
}

/* White Square */
.quadroPlano {
  background-color: #fff;
  max-width: 350px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0px 0px 40px #ffbf00;
  border-radius: 10px;

}

section h4 {
  padding: 40px;
}

/* -- Inside container start */
.container {
  justify-content: center;
  align-items: center;
  height: 800px;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffbf00;
  border-radius: 10px;
}

h4 {
  font-size: 38px;
  text-align: center;
  color: black;
}

#planoativo {
  background-color: #ffbf00;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 0px 5px black
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  text-align: center;
  color: black;
}

/* -- Inside container end */
/* --Main content end */

/* Footer */

footer div {
  color: black;
}

.textfamily {
  font-family: "Jomolhari", serif;
}

.textsize {
  font-size: 1.5rem;
}

footer {
  border: 2px solid black;
  background-color: #ffbf00;
  width: 0 auto;
  height: auto;
  margin-top: 2%;
  padding: 2%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 9fr 1fr;

  /* Coluna 1 */
}

.coluna1 {

  display: flex;
  flex-direction: column;
}

.tituloFooter {

  font-size: 2.5rem;
  font-weight: 800;
  ;
  border-bottom: 2px solid #000000;
  text-align: center;
}

.links {

  padding-top: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 0;
}

.lista1 {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* Add this line to set text alignment to the start */
}

/* Coluna 2 */
.flexIcones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
}

.iconeFooter {
  width: 35px;
}

.centralizacaoFooter {
  text-align: center;
}

.iconeLogoFooter {
  width: 120px;
}

.coluna3 {
  display: flex;
  flex-direction: column;
}

.flexContatos {
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
  padding-top: 15px;
  float: inline-start;

}

.linha {
  grid-row: 2/3;
  grid-column: 1/4;
  border-top: 2px solid #000000;
  width: 100%;

}

.copy {
  grid-row: 3/4;
  grid-column: 1/4;
}

@media (max-width: 912px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 7fr 7fr 0.4fr 0.5fr;

  }

  .coluna1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 40px;
  }

  .coluna2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 40px;
  }

  .coluna3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-bottom: 40px;
  }

  .linha {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .copy {
    grid-column: 1/2;
    grid-row: 5/6;
  }

}

@media (max-width: 768px) {

  .container {
    /* display: none; */
    /* display: flex;
    align-items: flex-start; */
    height: 1000%;
    max-width: 500px;
    /* margin: 40px auto; */
    /* padding: 20px; */
    background-color: #ffbf00;
    border-radius: 10px;
  }

  #logo {
    width: 100px;
    margin: 10px auto;
    float: left;
    display: none;
  }

  #text {
    margin-top: 20%;
    font-size: 2em;
    text-align: left;
  }

  #texto {
    /* display: none; */
    border-radius: 2%;
    background-image: url(../IMG/fundo_destorcido.png);
    margin-top: 12%;
    margin-left: 20%;
    max-width: 60%;
    max-height: 30%;
    text-align: center;
  }

  #texto {
    float: none;
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
  }

  #form-container {
    float: none;
    margin: 20px auto;
    max-width: 90%;
  }

  footer {
    max-width: 100%;
    height: auto;
    text-align: center;
  }

  footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   #ul1 {
    /* list-style: none; */
    font-size: 25px;
  }

  ul li {
    color: rgb(0, 0, 0);
    font-weight: 800;
    /* padding: 5px 20px; */
    /* display: block;
    text-transform: capitalize; */
    /* text-decoration: none; */
    transition: 0.25s ease-out;
    /* text-shadow: 2px 2px 4px rgb(255, 255, 255); */
  }

  /* label div ul li:hover a {
    color: #fff;
    background-color: rgb(0, 0, 0);
  } */
}